{% extends "JiabinHolterBundle:Base:layout.html.twig" %}

{% block subtitle %}api:doc{% endblock %}

{% block page_header %}
    {{ parent() }} <small>api:documentation</small>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h5>API Documentation</h5>
    </div>

    <dl>
        <dt><a href="{{ url('holter_api_status') }}.json" target="_blank">{{ path('holter_api_status') }}.json</a></dt>
        <dd>Performs all health checks and returns the results.</dd>
        <pre>{
    "status": 0,
    "status_name": "good",
    "checks": {
        "1": {
            "name": "http",
            "display_group": "Networking",
            "message": "Host is up and running",
            "status": 0,
            "status_name": "good"
        },
        "2": {
            "name": "connectivity",
            "display_group": null,
            "message": "Connection to host is taking more than usual",
            "status": 1,
            "status_name": "minor"
        }
    },
    "last_updated": "2014-01-05T13:27:48+01:00",
    "last_minor": "2014-01-05T02:47:58+01:00",
    "last_major": "2014-01-05T02:51:24+01:00"
}</pre>
    </dl>
    <dl>
        <dt><a href="{{ url('holter_api_checks') }}.json" target="_blank">{{ path('holter_api_checks') }}.json</a></dt>
        <dd>Returns all available checks.</dd>
        <pre>{
    "1": "http",
    "2": "mongo",
    "3": "ping",
    "4": "smtp",
    "5": "redis"
}</pre>
    </dl>
    <dl>
        <dt><a href="{{ url('holter_api_badge') }}.png" target="_blank">{{ path('holter_api_badge') }}.png</a></dt>
        <dd>Shows global status badge.</dd>
        <img src="/bundles/jiabinholter/img/badge/good.png" alt="Good badge">
        <img src="/bundles/jiabinholter/img/badge/minor.png" alt="Minor badge">
        <img src="/bundles/jiabinholter/img/badge/major.png" alt="Major badge">
        <img src="/bundles/jiabinholter/img/badge/unknown.png" alt="Unknown badge">
    </dl>
{% endblock %}