{% extends "JiabinHolterBundle:Base:layout.html.twig" %}
{% import "JiabinHolterBundle:Base:macros.html.twig" as macros %}

{% block subtitle %}
    {% verbatim %}
        status:<span class="text-{{status.status_name}}">{{status.status_name}}</span>
    {% endverbatim %}
{% endblock %}

{% block body %}
    {% verbatim %}
        <div class="alert alert-{{status.status_name}}" ng-if="status.status_name == 'good'">
            <p>All systems operational!</p>
        </div>
        <div class="alert alert-{{status.status_name}}" ng-if="status.status_name == 'minor'">
            <p>We are experiencing some minor service interruptions!</p>
        </div>
        <div class="alert alert-{{status.status_name}}" ng-if="status.status_name == 'major'">
            <p>Oh snap! Major system outage!</p>
        </div>
    {% endverbatim %}

    <div class="row">
        <div class="col-xs-12">
            {% set defaultDescription %}
            <div class="page-header">
                <h5>What is this site?</h5>
            </div>
            <p>
                We continuously monitor the status of our infrastructure and all its related services. If there are any interruptions in service, a note will be posted here. If you are experiencing problems and do not see a notice posted, please email <a href="mailto:support@jiabin.net">support@jiabin.net</a>.
            </p>
            {% endset %}
            {{ config.description|default(defaultDescription)|raw }}
        </div>
    </div>

    {% verbatim %}

        <div class="row" ng-if="status.checks" ng-repeat="group in groups">
            <div class="col-md-12">
                <div class="page-header no-border">
                    <h5 ng-if="group.name != 'default'">{{group.name}}</h5>
                    <h5 ng-if="group.name == 'default'">Service status</h5>
                </div>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="check in group.checks">
                        <span class="badge badge-{{check.status_name}}" ng-switch="check.status_name">
                            <span class="glyphicon glyphicon-ok-sign" ng-switch-when="good"></span>
                            <span class="glyphicon glyphicon-exclamation-sign" ng-switch-when="minor"></span>
                            <span class="glyphicon glyphicon-remove-sign" ng-switch-when="major"></span>
                            <span class="glyphicon glyphicon-question-sign" ng-switch-when="unknown"></span>
                        </span>
                        {{check.name}}
                        <small class="text-muted">{{check.message}}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden">
                <dl>
                    <dt>Last minor outage:</dt>
                    <dd>
                        <span ng-if="!status.last_minor">Never</span>
                        <abbr ng-if="status.last_minor" title="{{status.last_minor}}">{{status.last_minor|fromNow}}</abbr>
                    </dd>
                </dl>
                <hr>
                <dl>
                    <dt>Last major outage:</dt>
                    <dd>
                        <span ng-if="!status.last_major">Never</span>
                        <abbr ng-if="status.last_major" title="{{status.last_major}}">{{status.last_major|fromNow}}</abbr>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row" ng-if="status.checks.length == 0">
            <div class="col-md-12">
                <div class="alert alert-info text-center">
                    <p class="glyphicon glyphicon-question-sign huge-icon"></p>
                    <p>No checks defined, yet!</p>
                </div>
            </div>
        </div>
    {% endverbatim %}
{% endblock %}


{# {% block body_attr %}ng-controller="StatusCtrl"{% endblock %} #}

{# {% block body %} #}
    {# {{ macros.alert(status.statusName) }} #}

    {# <div class="row">
        <div class="col-xs-12">
            <div class="page-header narrow">
                <h5>What is this site?</h5>
            </div>
            <p>We continuously monitor the status of our servers, infrastructure and all its related services. If there are any interruptions in service, a note will be posted here. If you are experiencing problems and do not see a notice posted, please email us at <a href="mailto:support@jiabin.net">support@jiabin.net</a>.</p>
        </div>
    </div>

    <div class="row">
        {% if status.results|length > 0 %}
        <div class="col-sm-9">
            {% if is_granted('ROLE_ADMIN') %}<form action="{{ path('holter_admin_delete_check') }}" class="checks" method="POST" role="form">{% endif %}
                <ul class="list-group">
                    {% for result in status.results %}
                    <li class="list-group-item">
                        <span class="badge badge-{{ result.statusName }}">{{ macros.icon(result.statusName) }}</span>
                        {% if is_granted('ROLE_ADMIN') %}<input type="checkbox" name="checks[]" value="{{ result.check.name }}" />{% endif %}
                        {{ result.check.name }}
                        {% if result.message %}<small class="text-muted">{{ result.message }}</small>{% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="text-right">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete selected checks?');" class="btn btn-danger delete-check-btn hidden"><i class="glyphicon glyphicon-remove"></i> Delete selected</button>
                    &nbsp;
                    <a href="{{ path('holter_admin_new_check') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add new check</a>
                </div>
                {% endif %}
            {% if is_granted('ROLE_ADMIN') %}</form>{% endif %}
        </div>
        <div class="col-sm-3 sidebar">
            {% if app.user %}
            <dl>
                <dt>Logged in as {{ app.user.username }}</dt>
                <dd>
                    <a href="{{ path('_security_logout') }}">Logout</a>
                </dd>
            </dl>
            <hr>
            {% endif %}
            <dl>
                <dt>Last data received:</dt>
                <dd>
                    {% if status.lastUpdated %}{{ status.lastUpdated|localizeddate('medium', 'short') }}{% else %}Never{% endif %}
                </dd>
            </dl>
            <hr>
            <dl>
                <dt>Last minor outage:</dt>
                <dd>
                    {% if status.lastMinor %}{{ status.lastMinor|localizeddate('medium', 'short') }}{% else %}Never{% endif %}
                </dd>
            </dl>
            <hr>
            <dl>
                <dt>Last major outage:</dt>
                <dd>
                    {% if status.lastMajor %}{{ status.lastMajor|localizeddate('medium', 'short') }}{% else %}Never{% endif %}
                </dd>
            </dl>
        </div>
        {% else %}
        <div class="col-md-12">
            <div class="alert alert-info text-center">
                <p class="glyphicon glyphicon-question-sign huge-icon"></p>
                <p>No checks defined, yet!</p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="text-right">
                <a href="{{ path('holter_admin_new_check') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add new check</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div> #}
{# {% endblock %} #}

{# {% block javascripts %}
<script>// setTimeout(function () { location.reload(); }, 30000);</script>
{% if is_granted('ROLE_ADMIN') %}
<script>
$(function() {
    toggleDeleteButton();
    $("form.checks input[type=checkbox]").change(function() {
        toggleDeleteButton();
    });
    function toggleDeleteButton() {
        var state = 'addClass';
        $("form.checks input[type=checkbox]").each(function(e, i) {
            if ($(this).is(':checked')) {
                state = 'removeClass';
            }
        });
        $(".delete-check-btn")[state]('hidden');
    }
});
</script>
{% endif %}
{% endblock %} #}