<div id="footer">
    <div class="container">
        <p class="text-muted pull-left">
            <a href="{{ path('holter') }}">Home</a>
            {# {% if app.user and is_granted('ROLE_ADMIN') %}
            &nbsp;|&nbsp;
            <a href="{{ path('holter_admin_check') }}">Admin</a>
            {% endif %} #}
            &nbsp;|&nbsp;
            <a href="{{ path('holter_api_doc') }}">Api</a>
            &nbsp;|&nbsp;
            {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Login</a>
            {% endif %}
            &nbsp;|&nbsp;
            <a href="https://github.com/jiabin/holter" target="_blank">Source</a>
        </p>
        <p class="text-muted pull-right">Powered by <a href="https://github.com/jiabin/holter" target="_blank">Holter</a></p>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.5/js/jquery.tablesorter.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.metadata/2.0/jquery.metadata.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.tablecloth/1.0.0/js/jquery.tablecloth.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pace/0.5.5/pace.min.js"></script>
<script src="/bundles/jiabinholter/js/plugins.js"></script>
<script src="/bundles/jiabinholter/js/app.js"></script>
<script src="/bundles/mopabootstrap/js/mopabootstrap-collection.js"></script>

{# Load CodeMirror only when required #}
{% if form|default(false) %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/mode/xml/xml.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/addon/edit/matchtags.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/addon/edit/trailingspace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/addon/edit/matchtags.js"></script>
{% endif %}